body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 20px;
}
.container {
    max-width: 900px; 
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #829900; 
    text-align: center;
}


label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input[type="text"], input[type="number"], select {
    width: 98%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.alerta {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}


#link-dashboard, #link-cadastro {
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #997d00;
    text-decoration: none;
    font-weight: bold;
}


.alerta-pobreza {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    color: #f44336;
    padding: 10px;
    margin: 15px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #004d99;
    color: white;
}
.vulneravel {
    background-color: #fcebeb; 
    font-weight: bold;
}


.btn-submit {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}
#btnLimpar {
    background-color: #f44336; 
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right; 
    margin-top: -38px;
}